body {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-items: center;
  overflow-y: hidden;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.container {
  width: 415px;
  padding: 1rem 0;
  margin: 0 2rem;
  text-align: center;
  background: black;
  border-radius: 0;
  border-top-left-radius: 5px; 
  border: 1px solid whitesmoke;
  opacity: 0.9 !important;
}
h1 {
  text-align: left;
  margin: auto;
  padding: 0;
  color: #9c9c9c;
}
h1:hover {
  color: #7289da;
  cursor: pointer;
}
.container img {
  border-radius: 50%;
  width: 40%;
  border: 2px solid #fff;
  float: left;
  margin: 0 1rem;
}

img:hover {
  opacity: 0.7;
  cursor: pointer;
}
.body {
  opacity: 1;
  padding: .5rem 3rem;

}
p {
  font-size: 20px;
}

p code {
  display: block;
  margin: 5px auto;
}
.cross {
  display: inline;
  cursor: pointer;
  padding: .5rem;
  border: none;
}
.body button {
  background: none;
  border: 1px solid whitesmoke;
  font-family: Helvetica;
  padding: 1rem;
  color: whitesmoke;
  transition: .2s ease-in-out background
}

.body button:hover {
  cursor: pointer;
  color: black;
  background: whitesmoke;
}

.copyright {
  display: block;
  margin: 10px;
}

.titles {
  text-align: center;
}

.hr {
  display: none;
}
.container .body .doughnut {
  border: none;
  padding: 0;
  margin: 0;
}
.container .body .doughnut:hover {
  background: none;
}
ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline-block;
  margin: 1rem;
}

ul li:hover {
  opacity: .7; 
  cursor: pointer;
}

.projects {
  display: block;
  margin: 0;
}
.projects h3 {
  margin: 0;
  text-align: left;
}
.projects p, h6 {
  text-align: left;
  font-family: monospace;
  font-size: 12px;
  margin: 1rem 0 1rem 10px;
}
.projects h6:hover {
  cursor: pointer;
}
.error code {
  display: block;
  margin: 1rem 0;
}

.loading code {
  display: inline-block;
  margin: 1rem 0;
}

.loading img {
  float: right;
  margin: 1rem;
  width: 10%;
}

.audio {
  background: none;
  color: #fff;
  border: none;
}
.audio:hover {
  cursor: pointer;
}
@media (max-width: 758px) {

  .body {
    align-items: center;
  }
  .body button {
    width: 100px;
    margin: 10px auto;
    display: block;
  }
  .container {
    border: none;
    background: none;
    margin: auto;
    padding: auto;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  .container img {
    float: none;
  }
  .container h3 {
    align-self: center;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
  }
  .container h6 {
    display: inline;
    margin: auto;
  }
  .container p {
    text-align: center;
    display: block;
  }
  .container h1 {
    text-align: center;
    margin-top: 2.5px;
  }
  .hr {
    display: block;
  }
  .error h1 {
    text-align: left;
  }
  .error {
    margin: 0 3rem;
    font-size: 15px; 
  }

  .loading {
    margin: 0 3rem;
    font-size: 15px;
  }

  .loading h1 {
    text-align: left;
  }
  
  .container .body .doughnut {
    margin: auto;
  }
  .audio {
    position: relative;
    margin: auto;
    display: block;
    font-size: 16px;
  }
  .audio code span {
    display: none;
  }
} 

