body {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  padding: 0;
  margin: 0;
  min-height: 105vh;
  display: grid;
  place-items: center;
  
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.container {
  width: 415px;
  padding: 1rem 0;
  margin: 0 2rem;
  text-align: center;
  background: black;
  border-radius: 0;
  border-top-left-radius: 5px; 
  border: 1px solid whitesmoke;
  opacity: 0.9 !important;
}
h1 {
  text-align: left;
  margin: auto;
  padding: 0;
  color: #9c9c9c;
}
h1:hover {
  color: #7289da;
  cursor: pointer;
}
.container img {
  border-radius: 50%;
  width: 169.59px;
  height: 169.59px; 
  border: 2px solid #fff;
  float: left;
  margin: 0 1rem;
}

img:hover {
  opacity: 0.7;
  cursor: pointer;
}
.body {
  opacity: 1;
  padding: .5rem 3rem;

}
p {
  font-size: 20px;
}

p code {
  display: block;
  margin: 5px auto;
}

.cross {
  display: inline;
  cursor: pointer;
  padding: .5rem;
  border: none;
}
.body button {
  background: none;
  border: 1px solid whitesmoke;
  font-family: Helvetica;
  padding: 1rem;
  color: whitesmoke;
  transition: .2s ease-in-out background
}

.body button:hover {
  cursor: pointer;
  color: black;
  background: whitesmoke;
}

.copyright {
  display: block;
  margin: 10px;
}

.titles {
  text-align: center;
}

.hr {
  display: none;
}
.container .body .doughnut {
  border: none;
  padding: 0;
  margin: 0;
}
.container .body .doughnut:hover {
  background: none;
}
ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: inline-block;
  margin: 1rem;
}

ul li:hover {
  opacity: .7; 
  cursor: pointer;
}

.projects {
  display: block;
  margin: 10px 0;
  
}
.projects h3 {
  margin: 0;
  text-align: left;
}
.projects h3:hover {
  color:  #7289da;
  cursor:  pointer;
}

.projects a {
  font-size: 20px;
  float:  right;
  transition: .2s all ease-in-out;
}

.projects a:hover {
  opacity: .6;
}

.projects p, h6 {
  text-align: left;
  font-family: monospace;
  font-size: 12px;
  margin: 1rem 0 1rem 10px;
}

.projects h6:hover {
  cursor: pointer;
}
.error code {
  display: block;
  margin: 1rem 0;
}

.loading code {
  display: inline-block;
  margin: 1rem 0;
}

.loading img {
  float: right;
  margin: 1rem;
  width: 10%;
}

.audio {
  background: none;
  color: #fff;
  border: none;
}
.audio:hover {
  cursor: pointer;
}
.comment-button {
  float: right;
  border: none;
  background: none;
  color: #fff;
  font-family: monospace;
  padding: 0 2em;
}
.comment-button:hover {
  cursor: pointer;
}

input {
  font-family: monospace;
  padding: 5px;
  margin: .5em 0;
  border: 1px solid #fff;
  border-radius: 0;
  outline: 0;
  width: 100%;
  margin-right: 8px;
}

textarea {
  border: 1px solid #000;
  padding: 5px;
  margin: 0;
  border-radius: 0;
  resize: none;
  outline: 0;
  width: 100%;
  margin-right: 8px;
}
.send-comment {
  padding: 1px;
  margin: 0;
  text-align: left;
  font-family: monospace;
  transition: .1s color ease-in-out;
}

.send-comment .send-button:hover {
  cursor: pointer;
  color: #7289da;
}
.word-count {
  float: right;
}
.title-comments {
  color:  slategray;
}
.comment-container {
  width: 500px;
  text-align: center;

}

.comment-box {
  text-align: left;
}

.comment-card {
  font-family: monospace;
  padding: 1px 5px;
  border-radius: 0;
  outline: 0;
  margin:  10px;
  border:  1px solid #fff;
  word-break: break-all;
  background: rgba(0, 0, 0, 0.7);
  transition: .2s all ease-in-out;
}
.comment-card h2 {
  margin: 2px;
  color: gray;
  display: inline-block;
}

.comment-card:hover {
  border: 1px solid #7289da;
  background: black;
}

.comment-card:hover h2 {
  color: #7289da;
  cursor: pointer;
}

.comment-card code {
  float: right;
}
.comment-box p {
  font-size: 16px;
  margin: 0 0 3px 0;
}

.comment-box code {
  display:  block;
  text-align: right;
  margin: 0;
}

.display-none {
  display: none;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

input:focus, textarea:focus {
  background: #f4f4f4;
}


@media (max-width: 758px) {

  .body {
    align-items: center;
  }
  .body button {
    width: 100px;
    margin: 10px auto;
    display: block;
  }
  .container {
    border: none;
    background: none;
    margin: auto;
    padding: auto;
    text-align: center;
    height: 100%;
    width: 100%;
  }
  .container img {
    float: none;
  }
  
  .container h3 {
    align-self: center;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
  }
  .container h6 {
    display: inline;
    margin: auto;
  }
  .container p {
    text-align: center;
    display: block;
  }
  .container h1 {
    text-align: center;
    margin-top: 2.5px;
  }
  .hr {
    display: block;
  }
  .error h1 {
    text-align: left;
  }
  .error {
    margin: 0 3rem;
    font-size: 15px; 
  }

  .loading {
    margin: 0 3rem;
    font-size: 15px;
  }

  .loading h1 {
    text-align: left;
  }

  .projects a {
    margin: 0 10px;
    float:  none;
  }

  .container .body .doughnut {
    margin: auto;
  }
  .audio {
    position: relative;
    margin: auto;
    display: block;
    font-size: 16px;
  }
  .audio code span {
    display: none;
  }
  textarea {
    height: 100px;
  }
  .comment-container {
    width: 100%;
  }


  .comment-button {
    float:  none;
    display:  block;
    text-align: center;
  }
} 

